<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.exp2.mapper.ArticleMapper">
    <!-- 按标题和作者查找文章 -->
    <select id="findByTitleAndAuthor" resultType="com.example.exp2.entity.Article">
        SELECT * FROM articles
        WHERE title = #{title}
        AND author_username = #{authorUsername}
    </select>
    
    <!-- 其他复杂查询可以在此添加... -->
</mapper>